* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Overall classes */

.heading {
    font-size: 48px;
    font-weight: 900;
    /* background-color: black;*/
    margin-bottom: 20px;

}

.desc {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.para {
    font-size: 16px;
}

ol,
.intentions ul {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.para-list {
    font-size: 16px;
}

.sign-up {
    border: 0;
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    color: maroon;
    font-size: 20px;
    font-weight: 900;
    transition: border,border-radius,padding,ease-in-out 0.3s ;
}

.sign-up:hover {
    background-color: maroon;
    color: white;
    border: 3px solid white;
    padding: 15px;
    border-radius: 10px;
}


/* Header and Hero */

header {
    background-color: maroon;
    color: white;
    padding: 0px 30px;
    height: 800px;
    position: relative;
    
}
#navbar{
    position: fixed;
    width: 100%;
    background-color: maroon;
    left: 0;
    margin: 0px;
}
nav {
    
    display: flex;
    padding: 16px; 
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.nav-link {
    transition: border-bottom, font-size, ease-in-out 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid white; 
    font-size: 25px;
    padding: 5px;
    
}
.nav-icon{
    color: white;
    text-decoration: none;
}

.intro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 40px;
    padding-top: 200px;
    height: 80%;
}

.intro-desc {
    
    max-width: 40%;
}


/*Images  styling */

.logo-img {
    width: 200px;
}

.intro-img {
    max-width: 40%;
    min-width: 300px;
    border: 5px dashed white;
    border-radius: 30px;
}

.blog-img {
    width: 100%;
    height: 200px;
}


/* Main content */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 50px;
}

.blog-cards {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    border: 3px solid maroon;
    text-align: center;
}

#main-content>.heading {
    margin-bottom: 40px;
    color: maroon;
}


/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 50px;
    
    gap: 20px;
}

.description,
.structure,
.objective,
.intentions {
    padding: 30px;
    width: 80%;
    margin-top: 20px;
}

article>.desc {
    border: 3px solid white;
    padding: 10px;
    margin: 20px 0;
}

.structure,
.objective,
.intentions,
li {
    padding: 5px;
}


/* Contacts */

#contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    color:maroon
    /* background-color: lightgoldenrodyellow; */
}

#contact>.heading {
    text-align: center;
    margin-bottom: 50px;
}

.contact-card {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    /* height: 300px; */
    width: 100%;
    gap: 20px;
}

.contact-card>.contact-logo {
    background-color: maroon;
    padding: 80px;
    border-radius: 50%;
    width: 100%;
}

.contact-card>.contact-logo img {
    display: block;
    /* background-color: aquamarine; */
    margin: 0 auto;
    
}

.contact-card>.contacts {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* background-color: beige; */
    width: 100%;
    align-items: center;
}

.contact-card>.contacts .cont-icon {
    width: 50%;
    font-size: 30px;
    color: maroon;
    text-decoration: none;
    transform: translate(0, 0, 0);
    
}
.contact-card>.contacts .cont-icon:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
}
.icon{
    margin-right: 10px;
}

/* Animations */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }