* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Overall classes */

.heading {
    font-size: 48px;
    font-weight: 900;
    /* background-color: black;*/
    margin-bottom: 20px;
}

.desc {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.para {
    font-size: 16px;
}

ol,
.intentions ul {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.para-list {
    font-size: 16px;
}

.sign-up {
    border: 0;
    margin-top: 20px;
    padding: 10px 20px;
    width: 200px;
    color: maroon;
    font-size: 16px;
    font-weight: 900;
}

.sign-up:hover {
    background-color: maroon;
    color: white;
    border: 1px solid white;
}


/* Header and Hero */

header {
    background-color: maroon;
    color: white;
    padding: 0px 30px;
    height: 800px;
}

nav {
    display: flex;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.nav-link {
    transition: border-bottom 0.5s, ease-in 0.3s;
}

.nav-link:hover {
    padding: 5px;
    border-bottom: 2px solid white;
}

.intro {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 40px;
    height: 80%;
}

.intro-desc {
    max-width: 40%;
}


/*Images  styling */

.logo-img {
    width: 200px;
}

.intro-img {
    max-width: 40%;
    min-width: 300px;
    border: 5px dashed white;
    border-radius: 30px;
}

.blog-img {
    width: 100%;
    height: 150px;
}


/* Main content */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.blog-cards {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    border: 3px solid maroon;
    text-align: center;
}

#main-content>.heading {
    margin-bottom: 40px;
    color: maroon;
}


/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 50px;
    border-radius: 50px;
    gap: 20px;
}